{% extends "baza.html" %}

{% block title %}Rezultati pretrage{% endblock %}

{% block content_title %}Rezultati pretrage
<p>za traženi pojam: <b>{{ query }}</b></p>
{% endblock %}

{% block content %}
{% if not projekti %}
<p>
<h3>Žao nam je! Traženi pojam nije pronađen. </h3>
</p>
{% endif %}
	{% if projekti %}
<p>Pronađen{{ projekti|pluralize:" je,a su" }}<b> {{ projekti|length }}</b> rezultat{{ projekti|pluralize:",a" }}. </p>
<br />
<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:center;"><i class="icon-chevron-down"></i> ID</th>
      <th><i class="icon-file"></i> Naziv projekta</th>
      <th><i class="icon-user"></i> Koordinator</th>
      <th><i class="icon-calendar"></i> Datum početka</th>
      <th><i class="icon-calendar"></i> Datum završetka</th>
      <th><i class="icon-home"></i> Sala</th>
      <th><i class="icon-tags"></i> Broj članova</th>
    </tr>
  </thead>
  <tbody>
  
  {% for pr in projekti %}
  <tr>
    <td style="text-align:center;">{{ pr.id }}</td>
    <td><a href="/projekti/prikaz/{{ pr.id }}/">{{ pr.naziv }}</a></td>
    <td><a href="/clanovi/prikaz/{{ pr.koordinator.id }}/">{{ pr.koordinator.first_name }} {{ pr.koordinator.last_name }}</a></td>
    <td>{{ pr.datum_pocetak|date:"d.m.o." }}</td>
    <td>{{ pr.datum_kraj|date:"d.m.o." }}</td>
    <td>{{ pr.sala }}</td>
    <td class="broj_clanova"><p>{{ pr.ukljuceni_clanovi.all|length }}</p>
      {% if pr.ukljuceni_clanovi.all|length %}
      <li class="dropdown btn btn-primary razmaklijevo"><i class="icon-user icon-white"></i> <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fff;">Uključeni članovi <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for clan in pr.ukljuceni_clanovi.all %}
          <li>
            <p class="listasize">{{ clan.first_name }} {{ clan.last_name }}</p>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endif %} </td>
  </tr>
  {% endfor %}
    </tbody>
  
</table>
{% endif %}
{% endblock %}