<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Fonis Evidencije" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/python.css" media="screen" />

<title>Login</title>
</head>
<body>
<div id="top">
  <div id="top-ogr">
    <div class="top-lijevi-box">
      <p>login<br />
      <img src="{{ STATIC_URL }}images/logo.png" /></p>
    </div>
   
  </div>
</div>
<div id="top-linija">
  
</div>
<div>
  <div class="password">
    <form action="/login/" method="post">
        <label for="username">Username:</label><input type="text" name="username"><br/>
      <label for="password">Password:</label><input type="password" name="password" class="pass"><br/>
      <div style="margin-left:auto; margin-right:auto; width:100px; margin-top:20px;">  <input type="submit" value="Login" ></div>
    </form>
</div>

</body>
</html>