{% extends "baza.html" %}

{% block title %}Lista članova{% endblock %}

{% block nav_clan %}active{% endblock %}


{% block content_title %}Lista članova
<div class="head-inline">
  <p class="text-right">Aktivnih članova: <span class="brojpr"><b>{{ clanovi|length }}</b></span></p>
</div>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:center;"><i class="icon-chevron-down"></i> ID</th>
      <th><i class="icon-user"></i> Ime i prezime</th>
      <th><i class="icon-envelope"></i> E-mail</th>
    </tr>
  </thead>
  <tbody>
  
  {% for clan in clanovi %}
  <tr>
    <td style="text-align:center;">{{ clan.id }}</td>
    <td><a href="prikaz/{{ clan.id }}">{{ clan.ime }} {{ clan.prezime }}</a></td>
    <td>{{ clan.email }}</td>
  </tr>
  {% endfor %}
    </tbody>
  
</table>
{% endblock %}