{% extends "baza.html" %}

{% block title %}Izmena podataka o članu{% endblock %}

{% block nav_clan %}active{% endblock %}

 
{% block content_title %}{{ podaci.ime }} {{ podaci.prezime }}{% endblock %}


{% block content %}{% if podaci %}
<form action="." method="post">
  {% csrf_token %}{{ form.as_table }} <br/>
  <br/>
  <input type="submit" value="Sačuvaj promene" class="btn btn-large btn-primary">
</form>
{% endif %}{% if not podaci %}
<h3>Traženi član nije pronađen!</h3>
{% endif %}
{% endblock %} 