{% extends "baza.html" %}

{% block title %}Spisak članova{% endblock %}

{% block nav_home %}{% endblock %}
{% block nav_clan %}current{% endblock %}


{% block content_title %}Spisak članova{% endblock %}

{% block content %}
<p style="text-align:right;">U bazi se nalazi <span style="font-size:20px; padding:3px; background:#333; color:#fff; display:inline-block;"><b>{{ clanovi|length }}</b></span> članova</p>
<div class="tabelaZaIspis " >
  <table width="978" >
    <tr>
      <td width="50"> ID </td>
      <td width="150" > Ime i prezime</td>
      <td width="150"> E-mail </td> 
    </tr>
    {% for clan in clanovi %}
    <tr>
      <td style="text-align:center; font-weight:bold;">{{ clan.id }}</td>
      <td ><a href="prikaz/{{ clan.id }}">{{ clan.ime }} {{ clan.prezime }}</a></td>
      <td>{{ clan.email }}</td> 
     
    
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}