{% extends "baza.html" %}

{% block title %}Prikaz projekta{% endblock %}

{% block nav_lista %}active{% endblock %}

{% block content_title %}{{ podaci.naziv }}
<p class="opis-projekta-header" style="padding-top:10px;">{{ podaci.opis }}</p>
<p>
<form>
  <button class="btn btn-info btn-large margin-right" formaction="edit/"><i class="icon-pencil icon-white"></i> Izmeni projekat</button>
  <button class="btn btn-danger btn-large" formaction="delete/"><i class="icon-trash icon-white"></i> Obriši projekat</button>
</form>
</p>
<div class="head-inline-projekat">
  <p class="text-right">Trajanje projekta: <span class="brojpr"><b>{{ broj_dana.days }}</b></span> dan{{ broj_dana.days|pluralize:",a" }}</p>
  <p class="text-right">Status projekta: {% if status %}
    <button class="btn btn-success" style="margin-top:-7px;">AKTIVAN</button>
    {% endif %}
    
    {% if not status %}
    <button class="btn btn-danger" style="margin-top:-7px;">NEAKTIVAN</button>
    {% endif %} </p>
</div>
{% if not podaci %}
<h1 style="text-align:center;">Traženi projekat nije pronađen!</h1>
<br/>
<p class="center_text_align">
  <button class="btn btn-large">
  <i class="icon-home"></i><a href="/" style="color:#000;"> Nazad</a>
  </button>
</p>
{% endif %}

      {% endblock %}

{% block content %}{% if podaci %}
<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align:center;"><i class="icon-chevron-down"></i> ID</th>
      <th><i class="icon-file"></i> Naziv projekta</th>
      <th style="text-align:center;"><i class="icon-user"></i> Koordinator</th>
      <th style="text-align:center;"><i class="icon-calendar"></i> Datum početka</th>
      <th style="text-align:center;"><i class="icon-calendar"></i> Datum završetka</th>
      <th style="text-align:center;"><i class="icon-home"></i> Sala</th>
      <th style="text-align:center;"><i class="icon-tags"></i> Broj članova</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align:center;">{{ podaci.id }}</td>
      <td>{{ podaci.naziv }}</td>
      <td style="text-align:center;"><a href="/clanovi/prikaz/{{ podaci.koordinator.id }}">{{ podaci.koordinator.ime }} {{ podaci.koordinator.prezime }}</a></td>
      <td style="text-align:center;">{{ podaci.datum_pocetak|date:"d.m.o." }}</td>
      <td style="text-align:center;">{{ podaci.datum_kraj|date:"d.m.o." }}</td>
      <td style="text-align:center;">{{ podaci.sala }}</td>
      <td style="text-align:center;">{{ podaci.ukljuceni_clanovi.all|length }}</td>
    </tr>
  </tbody>
</table>
<span class="brojpr"><b>OPIS: </b></span> {{ podaci.opis }} <br />
<br />
{% if podaci.ukljuceni_clanovi.all|length %}
<h2>Uključeni članovi</h2>
{% endif %}
<p>
<table class="table table-striped">
  <tbody>
  
  {% for clan in podaci.ukljuceni_clanovi.all %}
  
    <td><i class="icon-user"></i> <a href="/clanovi/prikaz/{{ clan.id }}/">{{ clan.ime }} {{ clan.prezime }}</a></td>
    {% endfor %}
      </tbody>
</table>
</p>
{% endif %}
{% endblock %}



{% block script %}<script> $(document).ready(function() {
    var elem = $(".opis-projekta-header");
    if(elem){
        if (elem.text().length > 70) {
                elem.text(elem.text().substr(0,70))
                elem.append("...") }
    }
});</script>{% endblock %}