{% extends "baza.html" %}

{% block title %}Kreiranje projekta{% endblock %}

{% block nav_lista %}active{% endblock %}


{% block content_title %}Novi projekat{% endblock %}

{% block content %} <br/>
<br/>
<div style="margin-left:30px;">
{% if errors %}
<ul>
  {% for error in errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}



	{% if form.errors %}
<p style="color: red;"> <b> Ispravite greške navedene ispod!</b> </p>
<br/>
{% endif %}
<form action="." method="post">
  {% csrf_token %}
  <div class="okvir">{{ form.naziv_projekta.errors }}
    <p class="label">{{ form.naziv_projekta.label }}:</p>
    <p class="polja">{{ form.naziv_projekta }}</p>
  </div>
  <div class="okvir" style="overflow:hidden; height:auto;"> {{ form.izaberi_koordinatora.errors }}
    <p class="label">{{ form.izaberi_koordinatora.label }}:</p>
    <p class="polja">{{ form.izaberi_koordinatora }}</p>
  </div>
  <div class="okvir">{{ form.sala.errors }}
    <p class="label">{{ form.sala.label }}:</p>
    <p class="polja">{{ form.sala }}</p>
  </div>
  <div class="okvir"> {{ form.datum_pocetak.errors }}
    <p class="label">{{ form.datum_pocetak.label }}:</p>
    <p class="polja">{{ form.datum_pocetak }}</p>
  </div>
  <div class="okvir"> {{ form.datum_kraj.errors }}
    <p class="label">{{ form.datum_kraj.label }}:</p>
    <p class="polja">{{ form.datum_kraj }}</p>
  </div>
  <div class="okvir" style="overflow:hidden; height:auto;"> {{ form.opis.errors }}
    <p class="label">{{ form.opis.label }}:</p>
    <p class="polja">{{ form.opis }}</p>
  </div>
  <input type="submit" value="Sačuvaj" class="btn btn-large btn-primary">
  </div>
  {% endblock %}
  {% block span_prvi %}span4{% endblock %}
  {% block content_2 %}
  <h3>Članovi projekta</h3>
  <div class="checkbox">{{ form.izaberi_clanove }}</div>
</form>
</div>
{% endblock %}