{% extends "baza.html" %}

{% block title %}Dodaj člana{% endblock %}

{% block nav_clan %}active{% endblock %}


{% block content_title %}Novi član{% endblock %}

{% block content %} 


{% if errors %}
<ul>
  {% for error in errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}


	
	{% if form.errors %}
<p style="color: red;"> <b> Ispravite greške navedene ispod!</b> </p>
<br/>
{% endif %}
<form action="" method="post">
  {% csrf_token %}
  <div id="formaupis">
  <div class="okvir">{{ form.ime_clana.errors }}
    <p class="label">{{ form.ime_clana.label }}:</p>
    <p class="polja">{{ form.ime_clana }}</p>
  </div>
  <div class="okvir" style="overflow:hidden; height:auto;"> {{ form.prezime_clana.errors }}
    <p class="label">{{ form.prezime_clana.label }}:</p>
    <p class="polja">{{ form.prezime_clana }}</p>
  </div>
  <div class="okvir">{{ form.email_clana.errors }}
    <p class="label">{{ form.email_clana.label }}:</p>
    <p class="polja">{{ form.email_clana }}</p>
  </div>
  <input type="submit" value="Sačuvaj" class="btn btn-large btn-primary">
</form>
{% endblock %} 